<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY Swig Contact APP</title>
</head>
<body>
<h1>Hello Contacts App and Superheros</h1>
<form action="/superheros" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="power" name="power">
  <input type="text" placeholder="email" name="email">
  <input type="text" placeholder="phone" name="phone">
  <button type="submit">Submit</button>
</form>

<table class="table table-bordered ">
    <thead>
    <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Power</th>
        <th class="text-center">Email</th>
        <th class="text-center">Phone</th>
    </tr>

    </thead>
    <tbody>
    {% for hero in superheros %}
    <tr >
        <td class="text-center">{{hero.name}}</td>
        <td class="text-center">{{hero.power}}</td>
        <td class="text-center">{{hero.email}}</td>
        <td class="text-center">{{hero.phone}}</td>
        <td class="text-center"><a href="/superheros/{{hero.url}}">view</a></td>
        <td class="text-center"><a href="/superheros/{{hero.url}}/delete">delete</a></td>
    {% endfor %}
    </tbody>
</table>


<!-- ejs template -->
<!--   <% superheros.forEach(function(drink) { %>

      <h2><%= drink.name %></h2>

  <% }); %> -->

<!-- Install jQuery and underscore -->

<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script> -->

<!-- Create your template -->
<!-- Undscore template -->
<script type="foo/bar" id='usageList'>
// <table cellspacing='0' cellpadding='0' border='1' >
//     <thead>
//       <tr>
//         <th>Id</th>
//         <th>Name</th>
//       </tr>
//     </thead>
//     <tbody>
//       <%
//         // repeat items 
//         _.each(superheros,function(item,key,list){
//           // create variables
//           var f = item.name.split("").shift().toLowerCase();
//       %>
//         <tr>
//           <!-- use variables -->
//           <td><%= key %></td>
//           <td class="<%= f %>">
//             <!-- use %- to inject un-sanitized user input (see 'Demo of XSS hack') -->
//             <h3><%- item.name %></h3>
//             <p><%- item.interests %></p>
//           </td>
//         </tr>
//       <%
//         });
//       %>
//     </tbody>
//   </table>
</script>

<!-- Create your target -->

<div id="target"></div>

<!-- Write some code to fetch the data and apply template -->

<script type="text/javascript">
  // var items = [
  //   {name:"Alexander", interests:"creating large empires"},
  //   {name:"Edward", interests:"ha.ckers.org <\nBGSOUND SRC=\"javascript:alert('XSS');\">"},
  //   {name:"..."},
  //   {name:"Yolando", interests:"working out"},
  //   {name:"Zachary", interests:"picking flowers for Angela"}
  // ];
  // var template = $("#usageList").html();
  // $("#target").html(_.template(template,{items:items}));
</script>

</body>
</html>